<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agriculture Store - @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/font/font-awesome.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="~/css/common.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </environment>
    <link href="~/lib/sweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/lib/sweetAlert/sweetalert.min.js"></script>
    @RenderSection("Styles", false)
    @using AgriculturalProductsStore.Web.Configuration
</head>
<body>
    @if (TempData["notification"] != null)
    {
        @Html.Raw(TempData["notification"])
    }
    <header>
        <div class="container-fluid bg-light justify-content-center d-flex">
            <img src="~/image/layout/slide-header.png" alt="Alternate Text" />
        </div>
        <div class="container-fluid bg-primary">
            <div class="container">
                @await Html.PartialAsync("~/Views/Membership/_NavAccountPartial.cshtml")
            </div>
        </div>
    </header>
    <div class="container pt-2">
        <main role="main">
            <div class="row">
                <div class="col-3">
                    <div class="list-group ">
                        <a asp-action="Index" asp-controller="ManagerAccount" class="list-group-item list-group-item-action @ActivePage.IndexNavClass(ViewContext)">Thông tin tài khoản</a>
                        <a asp-action="UpdatePassword" asp-controller="ManagerAccount" class="list-group-item list-group-item-action @ActivePage.ChangePasswordNavClass(ViewContext)">Mật khẩu</a>
                        <a asp-action="ManageAddress" asp-controller="ManagerAccount" class="list-group-item list-group-item-action @ActivePage.ManagerAddressClass(ViewContext)">Số địa chỉ</a>
                        <a asp-action="ManagerOrder" asp-controller="ManagerAccount" class="list-group-item list-group-item-action @ActivePage.ManagerOrderClass(ViewContext)">Quản lý đơn hàng</a>
                        <a asp-action="ManagerPay" asp-controller="ManagerAccount" class="list-group-item list-group-item-action @ActivePage.ManagerPayClass(ViewContext)">Thông tin thanh toán</a>
                        <a asp-action="ProductsPurchasedLater" asp-controller="ManagerAccount" class="list-group-item list-group-item-action @ActivePage.ProductsPurchasedLaterClass(ViewContext)">Sản phẩm mua sau</a>
                        <a href="#" class="list-group-item list-group-item-action">Dealer</a>
                        <a href="#" class="list-group-item list-group-item-action">Media</a>
                        <a href="#" class="list-group-item list-group-item-action">Post</a>
                        <a href="#" class="list-group-item list-group-item-action">Category</a>
                        <a href="#" class="list-group-item list-group-item-action">New</a>
                        <a href="#" class="list-group-item list-group-item-action">Comments</a>
                        <a href="#" class="list-group-item list-group-item-action">Appearance</a>
                        <a href="#" class="list-group-item list-group-item-action">Reports</a>
                        <a href="#" class="list-group-item list-group-item-action">Settings</a>
                    </div>
                </div>
                @RenderBody()
            </div>
        </main>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/moment.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/sweetAlert/sweetalert-dev.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/js/common.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
