@using AgriculturalProductsStore.Web.ViewModels.ManagerAccount
@using AgriculturalProductsStore.Web.Configuration
@model List<UserAddressViewModel>

@{
    ViewData["Title"] = "Sổ địa chỉ";
    Layout = "~/Views/Membership/_MembershipLayout.cshtml";
    ViewData["ActivePage"] = ActivePage.ManagerAddress;
}
<div class="col-9">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Sổ địa chỉ</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <a asp-action="AddAddress" asp-controller="ManagerAccount" class="btn btn-primary">Thêm địa chỉ mới</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <h4>Danh sách địa chỉ</h4>
                    <hr>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <div class="container border mt-1">
                                <div class="row">
                                    <div class="col-9">@item.FullName</div>
                                    <div class="col-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <a asp-route-id="@item.Id" asp-action="UpdateAddress" asp-controller="ManagerAccount" class="float-right">Chỉnh sửa</a>
                                            </div>
                                            <div class="col-6">
                                                @if (!item.IsDefault)
                                                {
                                                    <a class="btn-delete-address cursor-pointer" address-id="@item.Id" data-toggle="modal" data-target="#exampleModal">Xóa</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col pt-1 pl-4">
                                        <div class="row">
                                            Địa chỉ: <label>@item.Address</label>
                                        </div>
                                        <div class="row">
                                            Điện thoại: <label>@item.PhoneNumber</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Bạn có chắc muốn xóa?
            </div>
            <div class="modal-footer">

                <form asp-action="DeleteAddress" asp-controller="ManagerAccount" method="post" id="">
                    <input type="text" name="Id" id="Id" value="" class="sumbit-delete" hidden />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Đồng ý</button>
                </form>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/manager-account.js"></script>
}
