@using AgriculturalProductsStore.Web.ViewModels.ManagerAccount
@model List<UserAddressViewModel>

@{
    ViewData["Title"] = "Sổ địa chỉ";
    Layout = "~/Views/Membership/_MembershipLayout.cshtml";
}


<div class="col-9">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Sổ địa chỉ</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <a asp-action="AddAddress" asp-controller="ManagerAccount" class="btn btn-primary">Thêm địa chỉ mới</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <h4>Danh sách địa chỉ</h4>
                    <hr>
                    @foreach (var item in Model)
                    {
                        <div class="container border mt-1">
                            <div class="row">
                                <div class="col-9">@item.FullName</div>
                                <div class="col-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <a asp-route-id="@item.Id" asp-action="UpdateAddress" asp-controller="ManagerAccount" class="float-right">Chỉnh sửa</a>
                                        </div>
                                        <div class="col-6">
                                            @if (!item.IsDefault)
                                            {
                                                <a asp-route-id="@item.Id" asp-action="DeleteAddress" asp-controller="ManagerAccount" class="float-right">Xóa</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col pt-1 pl-4">
                                    <div class="row">
                                        Địa chỉ: <label>@item.Address</label>
                                    </div>
                                    <div class="row">
                                        Điện thoại: <label>@item.PhoneNumber</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


